{% extends 'userview/header.html' %}
{% block content %}
<div class="container mt-5">
    <h1>{{ genre.name }}</h1>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                </tr>
            </thead>
            <tbody>
                {%for movie in genre.movie_set.all%}
                <tr class="">
                    <td scope="row"><a href="/movie/{{ movie.id }}">{{movie.title}}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
