{%extends 'userview/header.html'%}
{%block content%}

<div class="row">
    <h1 class="text-center mt-5 mb-4">Welcome!</h1>
</div>
<div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body" style="min-height:650px;">
                <h5 class="card-title">Popular Lately:</h5>
                <ul>
                    {% for movie in most_liked_movies|slice:":20" %}
                        <li><a href="/movie/{{ movie.id }}" style="color: white;">{{ movie.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body" style="min-height:650px;">
                <h5 class="card-title">About us:</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo ullamcorper a lacus vestibulum sed arcu. Elit ut aliquam purus sit amet luctus. Pellentesque adipiscing commodo elit at. Semper risus in hendrerit gravida rutrum quisque. Integer enim neque volutpat ac. Dignissim sodales ut eu sem integer vitae. Scelerisque purus semper eget duis at. Lectus quam id leo in vitae turpis massa sed elementum. Congue nisi vitae suscipit tellus. Massa tempor nec feugiat nisl. Dapibus ultrices in iaculis nunc sed augue lacus viverra. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Sapien eget mi proin sed libero enim sed. Nulla aliquet enim tortor at auctor urna nunc. Mi sit amet mauris commodo quis. Ut sem nulla pharetra diam sit amet. Dui faucibus in ornare quam. Vulputate eu scelerisque felis imperdiet proin fermentum leo.</p>
                <p>Orci sagittis eu volutpat odio facilisis mauris sit amet massa. Quam id leo in vitae. Id diam vel quam elementum pulvinar etiam non. Mollis aliquam ut porttitor leo a diam. Tellus integer feugiat scelerisque varius morbi. Sem integer vitae justo eget magna fermentum. Convallis tellus id interdum velit laoreet id donec. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Condimentum lacinia quis vel eros donec ac odio tempor orci. Vel pretium lectus quam id leo in vitae. Et ultrices neque ornare aenean euismod. Amet dictum sit amet justo donec enim diam vulputate.</p>
                <p>Lectus sit amet est placerat in egestas erat imperdiet sed. Nibh tortor id aliquet lectus proin nibh nisl. Turpis massa tincidunt dui ut ornare. Arcu cursus vitae congue mauris rhoncus. Senectus et netus et malesuada.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body" style="min-height:650px;">
                <h5 class="card-title">Recommended movies:</h5>
                {% if user.is_authenticated %}
                    <ul>
                        {% for movie in similar_movies|slice:":20" %}
                            <li><a href="/movie/{{ movie.id }}" style="color: white;">{{ movie.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Log in to see recommendations</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</br>
</br>

{%endblock%}